*.ap
*.map
*.png
*.svg
*.txt
*.xml
10_groups.*
META.yml
Makefile
Makefile.old
MapGen.bs
MapGen/Exporter/SVG.pm
blib
debug.log
doorgen.log
log
map.tnc
maze.log
mq.[co]
pm_to_blib
test.dtd
test.xsl
tmon.out
xml_parser.res
xmllint.res
