10_groups.*
*.ap
blib
debug.log
dist
doorgen.log
log
Makefile
Makefile.old
*.map
map.*
MapGen.bs
MapGen/Exporter/SVG.pm
maze.log
META.yml
mq.[co]
MYMETA.json
MYMETA.yml
pm_to_blib
*.png
*.svg
test.dtd
test.xsl
tmon.out
*.txt
*.xml
xmllint.res
xml_parser.res
